In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [11]:
#posso saber os indices do meu df com o df.index e para as colunas df.columns

df = pd.DataFrame(randn(5,4), index = ['A','B','C','D','E'], columns = ['price','date', 'brand','profit'])
print(df.index)
print(df.columns)

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')
Index(['price', 'date', 'brand', 'profit'], dtype='object')

In [ ]:
#se eu usar o metodo df.reset_index(), ele ira criar indices de 0 a n linhas, 
# o indice original vira uma nova coluna no df
#OBS: note que novamente usa-se o inplace  = True para poder alterar mesmo no df original


df.reset_index(inplace=True)
df

  index     price      date     brand    profit
0     A  1.497501  0.117615  1.281112  0.746225
1     B -0.568792  0.356239  0.354014 -1.118268
2     C  0.228929  1.288361 -0.065665  0.084339
3     D  0.352284 -0.495675 -0.393913 -0.705930
4     E  1.061837 -0.769740 -1.287452 -0.312639

In [13]:
#para voltar o indice original eu posso usar o: 
#  df.set_index("nome da coluna para virar o indice", inplace = True)

df.set_index("index", inplace = True)
df

          price      date     brand    profit
index
A      1.497501  0.117615  1.281112  0.746225
B     -0.568792  0.356239  0.354014 -1.118268
C      0.228929  1.288361 -0.065665  0.084339
D      0.352284 -0.495675 -0.393913 -0.705930
E      1.061837 -0.769740 -1.287452 -0.312639

In [ ]:
#criando e setando um novo indice
#obs: NESSE metodo, o novo indice Ã© deletado e o indice setado vira o padrao
estados = 'RJ SP ES MG SC'.split()

df['novo_indice']= estados
df.set_index('novo_indice', inplace = True)
df

                price      date     brand    profit
novo_indice
RJ           1.497501  0.117615  1.281112  0.746225
SP          -0.568792  0.356239  0.354014 -1.118268
ES           0.228929  1.288361 -0.065665  0.084339
MG           0.352284 -0.495675 -0.393913 -0.705930
SC           1.061837 -0.769740 -1.287452 -0.312639

In [30]:
df = pd.DataFrame(randn(5,4), index = ['A','B','C','D','E'], columns = ['price','date', 'brand','profit'])

In [32]:
# para manter o indice atual, temos que dar um df.reset_index(), 
# para ele guardar a info do indice em uma coluna

estados = 'RJ SP ES MG SC'.split()

df['novo_indice']= estados
df.reset_index().set_index('novo_indice')
df

      price      date     brand    profit novo_indice
A -0.556300 -1.083640  0.803455 -1.582006          RJ
B  0.982617  1.457614  0.322543  0.394471          SP
C  0.744350  0.655524  0.232716  1.509225          ES
D -0.760107  1.638539 -0.094234 -1.097223          MG
E -1.236088 -0.533241 -1.166300 -1.638997          SC